.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 20px 0px;
}

/*Untuk Tablet*/
@media all and (max-width: 1000px) {
  .main h1 {
    font-size: 40px;
  }

  .menu-icon {
    display: none;
  }

  .service {
    width: 50%;
    margin-bottom: 50px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/*Untuk Smartphone*/
@media all and (max-width: 770px) {
  .main {
    text-align: left;
  }

  .main h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .main p {
    font-size: 18px;
    line-height: 20px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block; /*menampilkan ikon menu, none:menu default hide*/
  }

  .signup {
    margin-top: 15px;
    text-align: center;
  }

  .facebook {
    text-align: center;
    margin-top: 12px;
  }

  .btn {
    width: 100%;
  }

  .service {
    width: 100%;
  }

  input, textarea {
    width: 300px;
  }

  footer {
    text-align: left;
  }
  
  .footer-logo {
    font-size: 15px;
  }

  .footer-list {
    float: right;
  }
  
  .header-left {
    padding: 20px 30px 20px 30px;
    line-height: 15px;
  }
}
