/*setting awal*/
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/*css umum*/
.container {
  max-width: 1170px; /*membatasi lebar maksimum layar*/
  width: 100%; /*penyesuaian pake meta name viewport*/
  padding: 0 15px;
  margin: 0 auto; /*auto margin di kiri dan kanan*/
}

.logo {
  width: 80px;
  height: 80px;
  margin-top: 0px;
  border-radius: 5px 20px; 
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal; /*ketebalan font*/
  text-align: center;
}

/*css header */
header {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  width: 100%;
  position: fixed; /*akan ditempat yang sama walaupun scroll*/
  top: 0; /*bisa left jg,atur dg position*/
  z-index: 10; /*ubah urutan tumpukan elemen, tampil paling atas*/
}

.header-left {
  color: white;
  font-size: 25px;
  line-height: 15px; /*jarak antar paragraf*/
  float: left; /*membuat ke kiri*/
  padding: 25px 40px 25px 40px;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a:hover { /*efek nyala-hidup-animasi*/
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block; /*membentang kiri-kanan isi penuh lebar*/
  float: left;
  line-height: 65px; /*tinggi karakter,jarak antar paragraf*/
}

/*css bagian utama*/
.main {
  padding: 180px 0 100px 0;
  background-size: cover; /*resize gambar background untuk cover seluruh container*/
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  color: white;
  text-align: center;
}

.main h1 {
  opacity: 0.8; /*transparan*/
  font-size: 45px;
  letter-spacing: 5px; /*buat spasi diantara karakter di teks*/
  margin-bottom: 10px;
}

.main p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn {
  color: white;
  display: inline-block; /*display secara horizontal*/
  opacity: 0.8;
  padding : 12px 24px;
  border-radius: 10px; /*membuat lengkungan di siku tombol*/
}

.btn:hover { /*efek nyala-hidup-animasi*/
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 12px;
}

.btn-main {
  margin: 20px 0;
}

.btn-main p{
  margin: 10px 0;
}

/*css bagian isi*/
img {
  width: 300px;
  height: 300px;
}

.isi {
  /*height: 600px; tinggi bagian isi*/
  padding-bottom: 80px; /*padding bawah bagian isi*/
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.clear { /*penyesuaian layar untuk ukuran 670px kebawah*/
  clear: left;
}

.service {
  float: left;
  width: 25%; /*karena 4 service jadi per 25%*/
}

.service-icon {
  position: relative; /*relatif dengan posisi normalnya*/
}

.txt-service {
  width: 80%; /*ukuran tulisan*/
  display: inline-block; /*display secara horizontal*/
  margin-top: 20px;
  font-size: 15px;
  color: #696969;
}

/*css bagian tambahan*/
.contact-us {
  padding-top: 5px;
  text-align: center;
  padding-bottom: 80px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align: center;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 10px;
  border: 1px solid #dee7ec; /*width style warna*/
}

.message {
  weight: 300px;
  padding: 15px 40px;
  background-color:#f0ab5d ;
  cursor: pointer; /*curson jadi pointer tangan*/
  box-shadow: 0 7px #808080; /*bauanagan di box kiri*/
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*css bagian footer*/
.footer {
   background-color: rgba(34, 49, 52, 0.9);
  color: #fff;
  height: 150px;
  padding: 20px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

/*css tombol menu garis tiga*/
.fa {
  margin-right: 5px; /*fix*/
}
